 
header {
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: #AAAAAA;
}

aside {
	float: left;
	width: 25%;
	height: 100%;
}

section {
	float: right;
	width: 75%;
	height: 100%;
}

.sidebar {
	width: 70%;
	padding: 10px;
}

.input {
	width: 30px;
}

.grid {
	border: 0px solid black;
	text-align: center;
	border-collapse: collapse;
}

td.grid {
	height: 8px;
	width: 8px;
}

button#begin {
	float: center;
	width: 30%;
	text-align: center;
}